<div class="video-container">
  <iframe width="853" height="480" src="//gslb.miaopai.com/stream/L0dpMkJpKpPLsNMhaKIkSgOb~OcUK0u0.mp4?ssig=2d10d2b35bef66a4ee8e55a430035340&time_stamp=1496840109723&cookie_id=&vend=1&os=3&partner=1&platform=2&cookie_id=&refer=miaopai&scid=L0dpMkJpKpPLsNMhaKIkSgOb%7EOcUK0u0" frameborder="0" allowfullscreen></iframe>
</div>
