@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";                       //文本编辑器的支持样式



//position of products in the center of products/index page
.product-index {
    margin-top: 100px;
    padding-left: 90px;
}

 .intro-bigPic {
   width: 420px;
   height: 420px;

   img {
     width: 100%;
   }
 }

 .intro-preview-box {
   width: 450px;
 }

 .intro-preview {
   margin-top: 15px;

   .intro-preview-item {
     padding: 1px;
     margin-right: 13px;
     overflow: hidden;

     img {
       width: 100%;
       width: 70px;
       height: 70px;
     }
   }

   .intro-preview-activeItem {
     border-color: #DB3652;
   }
 }



 .fl {
   float: left;
   display: inline;
 }

 .border {
   border: 1px solid #DDDDDD;
 }

 * {
   margin: 0;
   padding: 0;
 }

 //home page banner text
 .banner-text {
   font-size: 180%;
 }



  body,
  html {
      width: 100%;
      height: 100%;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
  }

  .topnav {
      font-size: 14px;
  }

  .lead {
      font-size: 18px;
      font-weight: 400;
  }

  .intro-header {
      padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
      padding-bottom: 50px;
      text-align: center;
      color: #f8f8f8;
      background: url("https://ws4.sinaimg.cn/large/006tKfTcgy1fg1ds1rof9j30zk0mjjum.jpg") no-repeat center center;
      background-size: cover;
  }

  .intro-message {
      position: relative;
      padding-top: 4%;
  }

  .intro-message > h1 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      font-size: 5em;
  }

  .intro-divider {
      width: 400px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .intro-message > h3 {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }

  @media(max-width:767px) {
      .intro-message {
          padding-bottom: 15%;
      }

      .intro-message > h1 {
          font-size: 3em;
      }

      ul.intro-social-buttons > li {
          display: block;
          margin-bottom: 20px;
          padding: 0;
      }

      ul.intro-social-buttons > li:last-child {
          margin-bottom: 0;
      }

      .intro-divider {
          width: 100%;
      }
  }

  .network-name {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 2px;
  }

  .content-section-a {
      padding: 50px 0;
      background-color: #f8f8f8;
  }

  .content-section-b {
      padding: 50px 0;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
  }

  .section-heading {
      margin-bottom: 30px;
  }

  .section-heading-spacer {
      float: left;
      width: 200px;
      border-top: 3px solid #e7e7e7;
  }

  .banner {
      padding: 100px 0;
      color: #f8f8f8;
      background: url("https://ws2.sinaimg.cn/large/006tNbRwgy1ffz4c8jzudj31hc0gogu8.jpg") no-repeat center center;
      background-size: cover;
  }

  .banner h2 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      font-size: 3em;
  }

  .banner ul {
      margin-bottom: 0;
  }

  .banner-social-buttons {
      float: right;
      margin-top: 0;
  }

  @media(max-width:1199px) {
      ul.banner-social-buttons {
          float: left;
          margin-top: 15px;
      }
  }

  @media(max-width:767px) {
      .banner h2 {
          margin: 0;
          text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
          font-size: 3em;
      }

      ul.banner-social-buttons > li {
          display: block;
          margin-bottom: 20px;
          padding: 0;
      }

      ul.banner-social-buttons > li:last-child {
          margin-bottom: 0;
      }
  }

  /*===== 立即選購按鈕 ======*/
 .buy-box {
   text-align: center;
   margin: 50px auto 0 auto;
   color: #02061A;


   .btn-default {
     margin-top: 30px;
     padding: 15px 20px 15px 20px;
   }

   .btn-default:hover,
   .btn-default:active,
   .btn-default:focus {
     background-color: #ef9a9a;
   }

   .suggested-product-content{
     text-align: center;
     margin: 20px 0px 20px 0px;

     img {
       margin: auto;
       max-width: 200px;
     }
   }
 }

 /*===== Button 按钮 =====*/
  .btn-push {
    background-color: transparent;
    color: #ef9a9a;
    border-color: #ef9a9a;
    padding: 10px 20px;
    font-size: 20px;
  }

  footer {
      padding: 50px 0;
      background-color: #f8f8f8;
  }

  p.copyright {
      margin: 15px 0 0;
  }

 /*===== logo 图片样式 =====*/
    .navbar-brand > img {
        display: inline-block; //图片和链接文字显示在同一行
        margin-right: 10px; //图片和链接文字拉开一点距离
        width: 32px; //定制图片宽度
        height: 32px; //定制图片高度
    }



//leo-商品详情区域样式
.product-detail {
  margin: 1.1em 0 3em;
}
.product-detail-box {
  border: 1px solid #e3e3e3;
  border-top: none;
  padding: 2em 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.6em;
  img {
    max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
    }
}

//leo-商品评论区的样式

// 商品品论区域样式
.review-comment-form {
  text-align: left;
  padding: 2em 2em;
}
.review-comment-button {
  text-align: left;
  padding: 0 2em;
  margin-top: -2em;
}
.reviews {
  text-align: left;
  li {
    list-style: none;
  }
}
.review-user-email {
  font-weight: bold;
}
.review-comment {
  margin: 1em auto;
}
.review-hr {
  padding: 0 3em;
}

//用户登录页面

.user_setup {
    height: 750px;
    background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ws3.sinaimg.cn/large/006tKfTcly1fg84eyuw7lj318g0xcn6l.jpg);
  }



.user_setup_content{
  background: #fff;
  margin-top: 135px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #555;
  border-radius: 25px;

  opacity:0.95;
  filter:alpha(opacity=95);

  h2{
    text-align: center;
  }

  .psw{
    float: right;
    margin-top: -33px;
    position: relative;
  }

  .account{
    text-align: center;
  }

  .form-inputs{
    margin-top: 25px;
  }

  .form-actions{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;

    .button{
      color: #fff;
      background-color: #4A6BB5;
      border-color: #4A6BB5;
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
    }

    .button:hover{
      background-color: #4A99B5;
      border-color: #4A99B5;
      color: #fff;
    }
  }
}
