
<!-- <footer class="container-fluid" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 潜在世界
        <br>Design by 火冰 & 大鹏

    </p>
</footer> -->



<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <a class="navbar-brand" href="/">
        <img src='<%= image_url 'logo2.png' %>' ></a>

        <!-- <img class="materialize-logo" src="//ws4.sinaimg.cn/large/006tNc79gy1fgd43xlavqj302s02s746.jpg" alt=""> -->
        <p>Design by 火冰 & 大鹏</p>
      </div>
      <div class="col s6 m3">
        <h5>About</h5>
        <ul>
          <li><a href="#!">Blog</a></li>
          <li><a href="#!">Pricing</a></li>
          <li><a href="#!">Docs</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Connect</h5>
        <ul>
          <li><a href="#!">Community</a></li>
          <li><a href="#!">Subscribe</a></li>
          <li><a href="#!">Email</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Contact</h5>
        <ul>
          <li><a href="#!">Twitter</a></li>
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
