<!-- Footer -->

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <a class="navbar-brand" href="/">
        <img src='<%= image_url 'logo2.png' %>' ></a>

        <!-- <img class="materialize-logo" src="//ws4.sinaimg.cn/large/006tNc79gy1fgd43xlavqj302s02s746.jpg" alt=""> -->
        <p>Design by 火冰 & 大鹏</p>
      </div>
      <div class="col s6 m3">
        <h5>关于我们</h5>
        <ul>
          <li><a href="https://mp.weixin.qq.com/s?__biz=MzIxMzQzNjk5MA==&mid=2247483912&idx=1&sn=6b2be32fdf7732ae7806318ebc23ea9d&chksm=97b79d59a0c0144f3f15845634820ecd269ad0d352b901046a377b895fc4f64069aad76267e9&mpshare=1&scene=1&srcid=0609zzGZqkGwwTZDbKABlyfC&key=edbc4bce6a6454e85d88e93a1a1c2aae98a437783e9184ee0e86ce325b43f355a02f6bc8076b4af601159498d53ebc226347b265bfdd91e9e025d61b49049e8d828444cb8a2a755481d086e13cbb06de&ascene=0&uin=MTQzNzA0OTkwMA%3D%3D&devicetype=iMac+MacBookPro11%2C4+OSX+OSX+10.12.4+build(16E195)&version=12020610&nettype=WIFI&fontScale=100&pass_ticket=i1gu3QPFM9bVhbQJukM3qDwyyohH9tJTIHqwiz15PbG4nQFw4MfH8bA3ZnanKqEB">公众号</a></li>
          <li><a href="#!"></a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>合作伙伴</h5>
        <ul>
          <li><a href="#!">悟空定制</a></li>
          <li><a href="#!">godive</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>问题指南</h5>
        <ul>
          <li><a href="#!">流程介绍</a></li>
          <li><a href="#!">合作方式</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
